// color pattern //
$first: #224962;
$second: #A9CAB5;
$third: #BBA14F;

// fonts pattern //
@import url('/fonts/ClashDisplay_Complete/Fonts/WEB/css/clash-display.css');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,500;0,600;1,500&display=swap');
$font-primary: 'ClashDisplay-Variable', 'ClashDisplay-Bold', 'ClashDisplay-Semibold';
$font-secondary: 'EB Garamond';

//fonts patern //
$font-size-base: 1rem;

//font-awesome set up
@import './fontawesome.scss';
@import './solid.scss';
@import './brands.scss';

//Custom bootstrap variables//

//colors
$primary: $first;
$secondary: $second;
$tertiary: $third;

//fonts
$font-family-sans-serif: $font-primary;
$font-family-monospace: $font-secondary;
$h1-font-size:  $font-size-base * 4;
$h2-font-size:  $font-size-base * 3.5;

//btn
$btn-border-radius: 0;
$btn-border-width:0;
$btn-focus-width:0;
$btn-font-size: $font-size-base * 1.5;

$card-bg: $first;
$card-color: white;
$card-border-radius: 0;

//Custom Styles//
//header//
.header__nav-size{
    height: 6rem;
}
//home//
.home__carousel-title{
    bottom: 0;
    color: white;
    margin:0% 0% 8% 8%;
    position: absolute;
}
//services//
.services__container-title{
    margin-left: 8%;
}
//whoWeAre//
.whoWeAre__banner-card{
    position: absolute;
    top: 35%;
    bottom: 10%;
    right: 12.5%;
    left: 12.5%;
}
//counter//
.counter__container-number{
    width: 100%;
    font-size: 4rem;
    color: white;
}
@keyframes show {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.dontShow{
    opacity: 0;
}
.animate{
    animation: show 1.3s}
//footer//
.footer__container{
    background-color: #2A2F35;
}
@import "../node_modules/bootstrap/scss/bootstrap";