@import url('../fonts/ClashDisplay_Complete/Fonts/WEB/css/clash-display.css');



.detail__container{
    margin-top: 150px;
    margin-bottom: 250px;
    width: 100%;
}

.detail__title{
    font-family: 'ClashDisplay-variable';
    color: #224962;
    border-bottom: 1px solid #BBA14F;
    margin-bottom: 30px;
}

.detail__image{
    width: 90%;
    border-radius: 5%;
}

@media only screen and (max-width:574px) {
    .detail__mobile{
        padding-left: 15px;
        padding-right: 10px;
    }
}