@import url('../fonts/ClashDisplay_Complete/Fonts/WEB/css/clash-display.css');

.service__card{
    text-decoration: none;   
}

.service__image{
    width: 250px;
    height: 200px;
    border-radius: 4%;
}

.service__image:hover{
    width: 260px;
    transition: 0.4s;
}

.service__title{
    font-family: 'ClashDisplay-variable';
    color: #224962;
    border-bottom: 1px solid #BBA14F;
    border-radius: 4%;
}

@media only screen and (max-width:574px) {
    .service__container{
        margin-bottom: 35px;
    }
}